{
    "title": "Frederick Sample",
    "subtitle": "Software engineer & Team leader",
    "description": "Frederick Sample is a Software Engineer.",
    "name": "Frederick Sample",
    "logo": "/personal_images/example_logo.avif",
    "intro": "I enjoy a challenge and working in teams.",
    "items": [
        {
            "id": 1,
            "title": "Example 1.",
            "content": "This is the description of work card 1.",
            "image": "/work_card_images/example1",
            "category": "Not used.",
            "role": "Your job title.",
            "tech_stack": "Technologies used."
        },
        {
            "id": 1,
            "title": "Example 2.",
            "content": "This is the description of work card 2.",
            "image": "/work_card_images/example2",
            "category": "Not used",
            "role": "Your job title.",
            "tech_stack": "Technologies used."
        }
    ]
}